.tweet-card{
    max-width: 500px;
    margin: 20px auto;
}
.profile-image {
    background-size: cover;
    max-height: 50px;
    max-width: 50px;
  }
  .tweet-title{
    margin: 0 20px;
  }
  .tweet-body{
    margin-top: 30px;
  }